http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts.json?page=43&per_page=10
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      link: <https://api.speciesplus.net/api/v1/taxon_concepts.json?page=1&per_page=10>;
        rel="first", <https://api.speciesplus.net/api/v1/taxon_concepts.json?page=42&per_page=10>;
        rel="prev", <https://api.speciesplus.net/api/v1/taxon_concepts.json?page=44&per_page=10>;
        rel="next", <https://api.speciesplus.net/api/v1/taxon_concepts.json?page=8304&per_page=10>;
        rel="last"
      total-count: '83036'
      etag: W/"1825c6dccc11f7983639a492de8be06d"
    body:
      encoding: UTF-8
      file: no
      string: '{"pagination":{"current_page":43,"per_page":10,"total_entries":83036},"taxon_concepts":[{"id":460,"full_name":"Procyonidae","author_year":"Gray,
        1825","rank":"FAMILY","name_status":"A","updated_at":"2013-09-27T00:00:00.000Z","active":true,"cites_listing":"III/NC","higher_taxa":{"kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Carnivora","family":"Procyonidae"},"synonyms":[],"common_names":[{"name":"Mapaches,
        Coatís, Olingos","language":"ES"},{"name":"Olingo, Bassarai Rusé, Coatis,
        Potos","language":"FR"},{"name":"Coatis, Kinkajou, Olingos","language":"EN"}],"cites_listings":[]},{"id":1488,"full_name":"Bassaricyon","author_year":"Allen,
        1876","rank":"GENUS","name_status":"A","updated_at":"2013-09-27T00:00:00.000Z","active":true,"cites_listing":"NC","higher_taxa":{"kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Carnivora","family":"Procyonidae"},"synonyms":[],"common_names":[],"cites_listings":[]},{"id":11057,"full_name":"Bassaricyon
        gabbii","author_year":"J. A. Allen, 1876","rank":"SPECIES","name_status":"A","updated_at":"2019-12[...]
[...]
