http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts/10000/distributions.json
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      etag: W/"330554840646655494df9964b8a2b5ed"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":40386,"iso_code2":"LK","name":"Sri Lanka","tags":[],"type":"COUNTRY","references":["Brandon-Jones,
        D., Eudey, A. A., Geissmann, T., Groves, C. P., Melnick, D. J., Morales, J.
        C., Shekelle, M. and Steward, C.-B. 2004. Asian primate classification. International
        Journal of Primatology: 25(1): 97-163","Eisenberg, J. F. and McKay, G. M.
        1970. An annotated checklist of the recent mammals of Ceylon with keys to
        the species. Ceylon Journal of Science: 8: 69-99.","Gamage S., Liyanage, W.,
        Weerakoon, D. and Gunwardena, A. 2009. Habitat quality and availability of
        the Sri Lanka Red Slender Loris <i>Loris tardigradus tardigradus</i> (Mammalia:
        Primates: Lorisidae) in the Kottawa Arboretum. Journal of Threatened Taxa:
        1: 65-71.","Nekaris, K. A. I. and Jayewardene, J. 2004. Survey of the slender
        loris (Primates, Lorisidae Gray, 1821: <i>Loris tardigradus</i> Linnaeus,
        1758 and <i>Loris lydekkerianus</i> Cabrera, 1908) in Sri Lanka. Journal of
        Zoology, London: 262: 327-338.","Petter, J.-J. and Hladik, C. M. 1970. Observations
        sur le domaine vital et la densité de population de <i>Loris tardigradus</i>
        dans les forêts de Ceylan. Mammalia: 3: 394-409.","Phillips, W. W. A. 1981.
        Manual of the mammals of Sri Lanka, part 2. Wildlife and Nature Protection
        Society of Sri Lanka."]}]'
  recorded_at: 2021-10-31 22:07:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
