http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts/4521/cites_legislation.json
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      etag: W/"e26a1d1f73997168e6e4ba1c98449cf6"
    body:
      encoding: UTF-8
      file: no
      string: '{"cites_listings":[{"id":30344,"taxon_concept_id":4521,"is_current":true,"appendix":"I","change_type":"+","effective_at":"2017-01-02","annotation":"Except
        the populations of Botswana, Namibia, South Africa and Zimbabwe, which are
        included in Appendix II subject to annotation 2."},{"id":30115,"taxon_concept_id":4521,"is_current":true,"appendix":"II","change_type":"+","effective_at":"2019-11-26","annotation":"The
        populations of Botswana, Namibia, South Africa and Zimbabwe are listed in
        Appendix II for the exclusive purpose of allowing:a) trade in hunting trophies
        for non-commercial purposes;b) trade in[...]
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts/3210/cites_legislation.json
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      etag: W/"569003842b7b8c8a4358d121099909d8"
    body:
      encoding: UTF-8
      file: no
      string: '{"cites_listings":[{"id":4661,"taxon_concept_id":3210,"is_current":true,"appendix":"II","change_type":"+","effective_at":"1987-10-22","annotation":"[FAMILY
        listing Trochilidae spp.] "}],"cites_quotas":[],"cites_suspensions":[{"id":15840,"taxon_concept_id":32,"notes":"The
        export of all live specimens of native species of birds (with the exception
        of: species subject to management plans and export quotas [namely: <i>Amazona
        aestiva, Aratinga acuticaudata, Aratinga mitrata, Myiopsitta monachus, Nandayus
        nenday, and Pionus maximiliani</i>]; specimens bred in captivity in registered
        operations; species considered as pests or harmful under current legislation;
        pets; specimens for zoological, cultural or educational exhibitions). Specimens
        of such species may be exported after the Argentine Management Authority has
        verified on a case-by-case basis that the export is in conformity with current
        national legislation and issued a CITES permit.","start_date":"2006-01-16","is_current":true,"applies_to_import":false,"geo_entity":{"iso_code2":"AR","name":"Argentina","type":"COUNTRY"},"start_notification":{"name":"CITES
        Notif. No. 2006/006","date":"2006-01-16","url":"https://cites.org/sites/default/files/eng/notif/2006/006.pdf"}}]}'
  recorded_at: 2021-10-31 22:07:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
