http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts/4521/cites_legislation.json?language=fr&scope=all
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      etag: W/"23d23399e732032e6297049435b16e94"
    body:
      encoding: UTF-8
      file: no
      string: '{"cites_listings":[{"id":3635,"taxon_concept_id":4521,"is_current":false,"appendix":"III","change_type":"+","effective_at":"1976-02-26","annotation":null,"party":{"iso_code2":"GH","name":"Ghana","type":"COUNTRY"}},{"id":3637,"taxon_concept_id":4521,"is_current":false,"appendix":"II","change_type":"+","effective_at":"1977-02-04","annotation":null},{"id":3641,"taxon_concept_id":4521,"is_current":false,"appendix":"I","change_type":"+","effective_at":"1990-01-18","annotation":null},{"id":3654,"taxon_concept_id":4521,"is_current":false,"appendix":"I","change_type":"+","effective_at":"1997-09-18","annotation":"Sauf
        les populations de l''Afrique du Sud, du Botswana, de la Namibie et du Zimbab[...]
