http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts.json?taxonomy=CMS&language=EN&page=1&per_page=10
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      link: <https://api.speciesplus.net/api/v1/taxon_concepts.json?language=EN&page=2&per_page=10&taxonomy=CMS>;
        rel="next", <https://api.speciesplus.net/api/v1/taxon_concepts.json?language=EN&page=483&per_page=10&taxonomy=CMS>;
        rel="last"
      total-count: '4822'
      etag: W/"460b5819b68cd18ab77c07a0766eaddd"
    body:
      encoding: UTF-8
      file: no
      string: '{"pagination":{"current_page":1,"per_page":10,"total_entries":4822},"taxon_concepts":[{"id":1,"full_name":"Animalia","author_year":null,"rank":"KINGDOM","name_status":"A","updated_at":"2013-09-27T16:46:56.797Z","active":true,"cites_listing":null,"higher_taxa":{"kingdom":"Animalia","phylum":null,"class":null,"order":null,"family":null},"synonyms":[],"common_names":[{"name":"Animals","language":"EN"}],"cites_listings":[]},{"id":7,"full_name":"Chordata","author_year":null,"rank":"PHYLUM","name_status":"A","updated_at":"2013-09-27T16:46:56.972Z","active":true,"cites_listing":null,"higher_taxa":{"kingdom":"Animalia","phylum":"Chordata","class":null,"order":null,"family":null},"synonyms":[],"common_names":[],"cites_listings":[]},{"id":12,"full_name":"Mammalia","author_year":null,"rank":"CLASS","name_status":"A","updated_at":"2013-09-27T16:46:57.063Z","active":true,"cites_listing":null,"higher_taxa":{"kingdom":"An[...]
[...]
