http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts.json?name=Loxodonta%20africana&page=1&per_page=500
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      total-count: '1'
      etag: W/"45199b2c7935af20a3154cc39b36519f"
    body:
      encoding: UTF-8
      file: no
      string: '{"pagination":{"current_page":1,"per_page":500,"total_entries":1},"taxon_concepts":[{"id":4521,"full_name":"Loxodonta
        africana","author_year":"(Blumenbach, 1797)","rank":"SPECIES","name_status":"A","updated_at":"2021-10-13T13:12:58.505Z","active":true,"cites_listing":"I/II","higher_taxa":{"kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Proboscidea","family":"Elephantidae"},"synonyms":[{"id":37069,"full_name":"Loxodonta
        cyclotis","author_year":"(Matschie, 1900)","rank":"SPECIES"}],"common_names":[{"name":"Ndovo","language":"SW"},{"name":"Tembo","language":"SW"},{"name":"Haathi","language":"UR"},{"name":"Elefante","language":"PT"},{"name":"Slon","language":"RU"},{"name":"Elefant","language":"NO"},{"name":"Olifant","language":"NL"},{"name":"Afrikaanse
        olifant","language":"NL"},{"name":"Elefante africano","language":"ES"},{"name":"afrikansk
        elefant","language":"SV"},{"name":"Eléphant d''Afrique","language":"FR"},{"name":"Eléphant
        africain","language":"FR"},{"name":"Slon","language":"HR"},{"name":"Elefante
        africano","language":"IT"},{"name":"Fel","language":"AR"},{"name":"afrikansk
        elefant","language":"DA"},{"name":"Elefant","language":"DA"},{"name":"Afrikanischer
        Elefant","language":"DE"},{"name":"African Elephant","language":"EN"},{"name":"African
        Savannah Elephant","language":"EN"},{"name":"Fil","language":"AZ"},{"name":"Slon","language":"BG"},{"name":"Elefante","language":"CA"},{"name":"Slon","language":"CS"},{"name":"Elefantas","language":"EL"},{"name":"Elevant","language":"ET"},{"name":"Elefante","language":"EU"},{"name":"Olifant","language":"AF"},{"name":"Slon","language":"BE"},{"name":"Norsu","language":"FI"},{"name":"Afrikannorsu","language":"FI"},{"name":"Elefantti","language":"FI"},{"name":"Hathis","language":"HI"},{"name":"Haathi","language":"HI"},{"name":"Piugh","language":"HY"},{"name":"Fill","language":"IS"},{"name":"Domrey","language":"KM"}],"cites_listings":[{"id":30344,"appendix":"I","annotation":"Except
        the populations of Botswana, Namibia, South Africa and Zimbabwe, which are
        included in Appendix II subject to annotation 2.","hash_annotation":null,"effective_at":"2017-01-02","party":null},{"id":30115,"appendix":"II","annotation":"The
        populations of Botswana, Namibia, South Africa and Zimbabwe are listed in
        Appendix II for the exclusive purpose of allowing:a) trade in hunting trophies
        for non-commercial purposes;b) trade in live animals to appropriate and acceptable
        destinations, as defined in Resolution Conf. 11.20 (Rev. CoP18), for Botswana
        and Zimbabwe and for in situ conservation programmes for Namibia and South
        Africa;c) t[...]
