http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts.json?updated_since=2018-01-01T00%3A00%3A00&page=1&per_page=500
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      link: <https://api.speciesplus.net/api/v1/taxon_concepts.json?page=2&per_page=500&updated_since=2018-01-01T00%3A00%3A00>;
        rel="next", <https://api.speciesplus.net/api/v1/taxon_concepts.json?page=116&per_page=500&updated_since=2018-01-01T00%3A00%3A00>;
        rel="last"
      total-count: '57878'
      etag: W/"9cf1491b9aec83b2e1de96a0ce366df8"
    body:
      encoding: UTF-8
      file: no
      string: '{"pagination":{"current_page":1,"per_page":500,"total_entries":57878},"taxon_concepts":[{"id":23,"full_name":"Animalia","author_year":null,"rank":"KINGDOM","name_status":"A","updated_at":"2018-06-05T09:14:10.443Z","active":true,"cites_listing":"I/II/III/NC","higher_taxa":{"kingdom":"Animalia","phylum":null,"class":null,"order":null,"family":null},"synonyms":[],"common_names":[{"name":"Animals","language":"EN"},{"name":"Fauna","language":"EN"}],"cites_listings":[]},{"id":34,"full_name":"Mammalia","author_year":null,"rank":"CLASS","name_status":"A","updated_at":"2019-11-25T09:56:20.167Z","active":true,"cites_listing":"I/II/III/NC","higher_taxa":{"kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":null,"family":null},"synonyms":[],"common_names":[{"name":"Mamíferos","language":"ES"},{"name":"Mammifères","language":"FR"},{"name":"Mammals","language":"EN"}],"cites_listings":[]},{"id":5062,"full_name":"Antilocapra
        americana","author_[...]
