http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts/4521/eu_legislation.json
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      etag: W/"8d230ee1f9fa31d7dd41e7c4d09de0cc"
    body:
      encoding: UTF-8
      file: no
      string: '{"eu_listings":[{"id":31788,"taxon_concept_id":4521,"is_current":true,"annex":"A","change_type":"+","effective_at":"2019-12-14","annotation":"Except
        for the populations of Botswana, Namibia, South Africa and Zimbabwe, which
        are included in Annex B."},{"id":31876,"taxon_concept_id":4521,"is_current":true,"annex":"B","change_type":"+","effective_at":"2019-12-14","annotation":"Only
        the populations of Botswana, Namibia, South Africa and Zimbabwe; all other
        populations are included in Annex A.\r\nPopulations of Botswana, Namibia,
        South Africa and Zimbabwe (listed in Annex B):\r\nFor the exclusive pu[...]
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts/0/eu_legislation.json
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 500
      category: Server error
      reason: Internal Server Error
      message: 'Server error: (500) Internal Server Error'
    headers:
      content-type: application/json; charset=utf-8
      status: 500 Internal Server Error
    body:
      encoding: UTF-8
      file: no
      string: '{"error":{"message":"We are sorry but an error occurred processing
        your request"}}'
  recorded_at: 2021-10-31 23:39:47 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
