http_interactions:
- request:
    method: get
    uri: https://api.speciesplus.net/api/v1/taxon_concepts/4521/eu_legislation.json?language=fr&scope=all
    body:
      encoding: ''
      string: ''
    headers:
      X-Authentication-Token: safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      status: 200 OK
      etag: W/"be8a38925bc078305016b8105e457919"
    body:
      encoding: UTF-8
      file: no
      string: '{"eu_listings":[{"id":11876,"taxon_concept_id":4521,"is_current":false,"annex":"A","change_type":"+","effective_at":"1997-06-01"},{"id":11874,"taxon_concept_id":4521,"is_current":false,"annex":"B","change_type":"+","effective_at":"1997-11-27","annotation":"Populations
        of Botswana, Namibia and Zimbabwe. See note relating to CITES II."},{"id":11875,"taxon_concept_id":4521,"is_current":false,"annex":"A","change_type":"+","effective_at":"1997-11-27","annotation":"All
        populations except those of Botswana, Namibia and Zimbabwe."},{"id":11872,"taxon_concept_id":4521,"is_current":false,"annex":"B","change_type":"+","effective_at":"2000-12-18","annotation":"Populations
        of Botswana, Namibia, South Africa and Zimbabwe. For the exclusive purpose
        of allowing \n\n1) export of hunting trophies for non-commercial purposes;\n\n
        2) export of live animals to appropriate and acceptable destinations (Namibia:
        for non-commercial purposes only); \n\n3) export of hides (Zimbabwe only);
        \n\n4) export of leather goods and ivory carvings for non-commercial purposes
        (Zimbabwe only). All other specimens shall be deemed to be specimens of species
        included in Annex A and the provisions of this Regulation shall be applied
        to them accordingly.\n\nTo ensure that where \n\na) destinations for live
        animals are to be \"appropriate and acceptable\" \n\nand/or b) the purpose
        of the import is to be \"non-commercial\", export permits and re-export certificates
        may be issued only after the issuing Management Authority has received, from
        the Management Authority of the State of import, a certification to the effect
        that: in case a), in analogy to Article 4(I)(c) of the Regulation, the holding
        facility has been reviewed by the competent Scientific Authority, and the
        proposed recipient has been found to be suitably equipped to house and care
        for the animals; and/or in case b), in analogy to Article 4(I)(d), the Management
        Authority is satisfied that the specimens will not be used for primarily commercial
        purposes; and \n\nPopulation of South Africa\n\nFor the exclusive purp[...]
